// -----------------------
// bootstrap colors
// -----------------------
$cPrimary: '#69d1da1';
$cSecondary: '#6c757d';
$cSuccess: '#28a745';
$cWarning: '#ffc107';
$cDanger: '#dc3545';
$cInfo: '#17a2b8';
$cLight: '#f8f9fa';
$cDark: '#343a40';