.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_inner,
.graph {
    width: 40vw;
    height: 40vh;
    //padding: 30px 20px 10px 20px;
    //border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80vw;
    }
}